################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Minefield/bin/Debug/net6.0
/Minefield/obj
/MineField.Tests/bin
/MineField.Tests/obj
